/* nav */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/* Playwrite GB S */

/* heading */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
/* Playwrite NG Modern */

/* pera */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/* Pacifico */

/* button */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/* Kanit */

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.main{
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),url("/image/cream-color-background-gwm0t6ds2ld4vwf0.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
nav{
    text-align: right;
    border-bottom: 2px solid #452c11;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.bar{
    margin-left: 40px;
    text-decoration: none;
    font-family: 'Playwrite GB S';
    color: #452c11;
    padding: 6px 10px ;
    font-weight: 700;
    transition-duration: 0.4s;
}
.bar:hover{
    color: #f5f4df;
    background-color: #452c11;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-top: 10%;
    font-family: 'Playwrite NG Modern';
    letter-spacing: 7px;
}
.fid{
    text-align: center;
    margin-top: 6%;
    
}
.the{
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Kanit';
    color: #452c11;
    border-radius: 4px;
    transition-duration: 0.5s;
}
.the:hover{
    background-color: #452c11;
    color: #f5f4df;
    border-radius: 5px;
    border: 2px solid #452c11;
    /* font-family: 'Pacifico'; */
    
}
.about{
    height: 85vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),url("/image/7002f45c6fe05f43beab009848133848.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-top: 3%;
}
.under{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    text-align: center;
    margin-top: 3%;
    font-family: 'Playwrite NG Modern';
    letter-spacing: 7px;
    /* margin-left: 10%; */
}
.red{
    text-align: center;
 color: #f5f4df;
    font-family: 'Playwrite NG Modern';
    letter-spacing: 7px;
    margin-top: 30px;
}
.desk{
    width: 70%;
    margin-top: 30px;
    border-radius: 600px;
    box-shadow: -2px -2px 30px 2px #00000093;
    margin-right: 10px;
}
.desk:hover{
    opacity: 0.9 ;
}
.good{
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),url("/image/cream-color-background-gwm0t6ds2ld4vwf0.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
text-align: center;
}
.box{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}
